# Practise test.

## 4th Question

In [2]:
str1="introduction to informatics"
str2="I 501"

In [3]:
len(str1)

27

In [7]:
print("The length of String1 is", len(str1))
print("The length of String2 is" ,len(str2))

The length of String1 is 27
The length of String2 is 5

In [9]:
print(str1[:2])
print(str1[-2:])

in
cs

In [4]:
print(str2[:2])
print(str2[-2:])

I
01

## 5th Question

In [10]:
age=int(input("Kindly enter your age "))

Kindly enter your age 15

In [34]:
print("The datatype for the column age is", type(age))

The datatype for the column age is <class 'int'>

In [35]:
city=input("Kindly enter your city ")

Kindly enter your cityHyderabad

In [36]:
print("The datatype for the column city is", type(city))

The datatype for the column age is <class 'str'>

In [37]:
height=float(input("kindly enter you height "))

kindly enter you height 5.7

In [38]:
print("The datatype for the column height is", type(height))

The datatype for the column height is <class 'float'>

In [12]:
name=input("Kindly enter your name ")

Kindly enter your name jayaram

In [13]:
print("The datatype for the column city is", type(name))

The datatype for the column city is <class 'str'>

## 6th Question

In [27]:
value1 = int(input("Enter your value 1: "))

Enter your value 1: 7

In [28]:
value2 = int(input("Enter your value 2: "))

Enter your value 2: 8

In [29]:
value3 = int(input("Enter your value 3: "))

Enter your value 3: 9

In [30]:
print("The sum of all three values is", value1+value2+value3)

The sum of all three values is 24

## 7th Question

In [19]:
value_float=float(input("Enter your value:"))

Enter your value:4.5

In [20]:
print("The Square value of the number is", value_float**2)

The Square value of the number is 20.25

In [21]:
print("The Cube value of the number is", value_float**3)

The Cube value of the number is 91.125

## 8th question

In [22]:
str3="Introduction to Informatics!!"
str4="I501"

In [31]:
str_concat=str3 + "-" + str4
print(str_concat)
print("The Length of the string is ", len(str_concat))

Introduction to Informatics!!-I501
The Length of the string is  34

## 9th Question

In [40]:
type(12-4)

int

In [41]:
type("int")

str

In [42]:
type(200//40.0)

float

In [43]:
type(4+8.7j)

complex

## 10th Question

In [48]:
str1=input("Enter String 1: ")

Enter String 1: lily

In [49]:
str2=input("Enter String 2: ")

Enter String 2: Rose

In [50]:
str3=input("Enter String 3: ")

Enter String 3: Charles Thomas

In [51]:
# initialize list 
test_list = [str1,str2,str3]
  
# printing original list 
print("The original list : " + str(test_list))
  
# Longest String in list
# using loop
max_len = -1
for ele in test_list:
    if len(ele) > max_len:
        max_len = len(ele)
        res = ele
  
# printing result
print("Maximum length string is : " + res)

The original list : ['lily', 'Rose', 'Charles Thomas']
Maximum length string is : Charles Thomas

In [52]:
if len(str1) > len(str2):
    temp=str1
    print(temp)
else:
    if len(str2) > len(str3):
        temp=str2
        print(temp)
    else:
        temp=str3
        print(temp)

print("The Greatest String among the three values is", temp)

Charles Thomas
The Greatest String among the three values is Charles Thomas